report/main.acn
report/main.acr
report/main.alg
report/main.aux
report/main.bbl
report/main.blg
report/main.fdb_latexmk
report/main.fls
report/main.glg
report/main.glo
report/main.gls
report/main.log
report/main.synctex.gz
report/main.toc
report/main.synctex.gz
report/main.lot
report/main.lof
report/main.ist
report/main.synctex.gz
